<div class="wrapper">
  <div class="flex-group-wrapper">
    <mat-card *ngFor="let group of groups" class="example-card">
      <mat-card-header>
        <mat-card-title>{{group.Name}}</mat-card-title>
        <mat-card-subtitle style="height: 50px;">{{group.Description}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{getGroupThumbnail(group)}}" alt="{{group.Name}} Image">
      <mat-card-actions>
        <!--<button mat-button>DISPLAY</button>-->
        <button mat-button>OPTIONS</button>
      </mat-card-actions>
    </mat-card>
  </div>  
</div>



