.mat-card {
  min-width: 215px;
  max-width: 215px;
  max-height: 302px;
  margin: 7px;
}

.mat-card-image {
  max-width: 215px;
  max-height: 120px;
  object-fit: contain;
}

.wrapper {
  padding: 10px;
  overflow: auto;
  height: calc(100% - 65px);
}

.flex-group-wrapper {
  display: flex;
  flex-flow: row wrap;
}
