<div class="wrapper">
  <mat-toolbar class="sub-toolbar">
    <button mat-icon-button (click)="moveUpFolder()" class="move-up-folder-btn">
      <mat-icon aria-label="Parent Folder">arrow_upward</mat-icon>
    </button>
  </mat-toolbar>
  <mat-list style="padding-top: 0;">
    <mat-list-item mat-ripple style="background-color: white;" [ngClass]="{'folder': page.Type == 1}" *ngFor="let page of pages" (click)="page.Type == 1 ? getPagesByFolder(page.URL, true) : false">
      <mat-icon *ngIf="page.Type == 1" matListIcon color="primary">folder</mat-icon>
      <img *ngIf="page.Type == 0" src="{{getPageThumbnail(page)}}" alt="{{page.Name}} Image" onerror="this.src = '/assets/thumbnails/blank.png'" style="width: 70px; max-height: 80%; object-fit: contain;">
      <h3 matLine>{{page.Name}}</h3>
      <p matLine>{{page.URL}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
