<div class="displayview_lhs">
  <mat-toolbar color="primary">
    <span>Content</span>
  </mat-toolbar>
  <app-page></app-page>
</div>
<div class="displayview_rhs">
  <mat-toolbar color="primary">
    <span>Groups</span>
  </mat-toolbar>
  <app-group></app-group>
</div>
