.displayview_lhs {
  display: inline-block;
  float: left;
  width: 35%;
  height: calc(100% - 65px);
}

.displayview_rhs {
  display: inline-block;
  width: 65%;
  float: left;
  height: calc(100% - 65px);
  background-color: #f7f7f7;
}
