
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$livespace-primary-palette: ( 50 : #ecf1f1, 100 : #d1dbdb, 200 : #b2c4c4, 300 : #93acac, 400 : #7b9a9a, 500 : #648888, 600 : #5c8080, 700 : #527575, 800 : #486b6b, 900 : #365858, A100 : #abffff, A200 : #78ffff, A400 : #45ffff, A700 : #2bffff, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ) );

$livespace2-primary: mat-palette($livespace-primary-palette);
$livespace2-accent: mat-palette($livespace-primary-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$livespace2-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$livespace2-theme: mat-light-theme($livespace2-primary, $livespace2-accent, $livespace2-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($livespace2-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: rgb(250,250,250);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
